@charset "UTF-8";

/* This CSS file contains dreams.html styles */

/* SignOut button */
.btn.btn-secondary{margin:10px; color:white; border:none;}
.btn.btn-secondary.signOut{background-color:#838BC2;}
.btn.btn-secondary.signOut:hover{background-color:#EAE7FA;}

/* Role */
.role{color:#333F63; margin:10px; margin-right: 100px;}

/* Add new dream -button */
.btn.btn-primary{margin:10px; color:white; border:none; background-color:#715C8C;}
.btn.btn-primary:hover{background-color:#EAE7FA;}

/* Form */
.float-child.form{padding: 20px; background-color: #F8F8F8;}
.form-row{width:70%; align-items: center;}
.form-group{width:60%;}
label{font-weight:bold; color:#715C8C;}

/* Save and clear buttons in form */
.btn.save, .btn.clear:hover{color:white; border:none; background-color:#715C8C;}
.btn.clear, .btn.save:hover{background-color:#EAE7FA; color:#715C8C; border:none;}

/* Search bar */
.searchbar{margin:10px; width:300px;}

/* Table */
.tableHeader{background-color:#A58CB3; color:white;}
.dateFormat, .keyFormat{color:#715C8C; font-weight:bold; width: 150px;}
.typeFormat{font-weight:bold; width: 190px;}
.actions{width: 200px;}

/* Table buttons for edit and delete */
.editB, .deleteB{
	cursor:pointer; 
	border:none; 
	border-radius:5px; 
	padding: 4px 8px; 
	margin-right:40px; 
	background-color:#715C8C; 
	color:white;}
.editB{background-color:#A58CB3;}
.deleteB{background-color:#715C8C;}
.editB:hover, .deleteB:hover{text-decoration:none; color:#333F63; background-color:#EAE7FA;}

/* DreamType color based on the type */
td.Nightmare{color:#362036;}
td.Normal.dream{color:#533153;}
td.Daydream{color:#704270;}
td.False-Awakening.dream{color:#8D538D;}
td.Lucid.dream{color:#A668A6;}
td.Prophetic.dream{color:#B785B7;}
td.Recurring.dream{color:#C8A2C8;}
