@charset "UTF-8";

/* This CSS file contains login.html styles */

/* SignIn and SignOut buttons */
.btn.btn-secondary{margin:10px; color:white; border:none;}
.btn.btn-secondary.signIn{background-color:#A58CB3;}
.btn.btn-secondary.signIn:hover, .btn.btn-secondary.signOut:hover{background-color:#EAE7FA;}
.btn.btn-secondary.signOut{background-color:#838BC2;}

/* Role */
.role{color:#333F63; margin:10px; margin-right: 100px;}

/* Header */
.header{text-align:center; color: #715C8C; margin-bottom:50px;}

/* SignIn Form */
.signInForm{margin:auto; margin-top:100px; width: 400px; background-color: #F8F8F8; padding: 50px; border-radius:5px;}
.form-group{color:#715C8C; font-weight:bold;}

/* SignIn button */
.btn.btn-primary.signIn{background-color:#838BC2; color:white; border:none; margin-top:20px;}
.btn.btn-primary.signIn:hover{background-color:#EAE7FA;}

/* Warnings */
.invalidInput{margin-top:20px; color:red;}