<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, text/html; charset=UTF-8" />
	<title>DreamBook - Dreams</title>
	
	<link href="styles/demo.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
					crossorigin="anonymous"></script>
					
	<style type="text/css">
		.btn{margin: 10px; background-color:#545AA7; color:white; border:none;}
		.btn:hover{background-color:#545AA7;}
		
		.float-child.form{padding: 20px; background-color: #F8F8F8;}
		.form-row{width:70%; align-items: center;}
		.form-group{width:60%;}
		label{font-weight:bold; color:#545AA7;}
		
		.searchbar{margin:10px; width:300px;}
		.tableHeader{background-color:#545AA7; color:white;}
		.typeFormat{color:white; font-weight:bold;}
		.editB, .deleteB{cursor:pointer; border:none; color:white; border-radius:5px; padding: 4px 8px;}
		.editB{background-color:orange;}
		.deleteB{background-color:red;}
		.editB:hover, .deleteB:hover{text-decoration:none; color:white;}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/index">DreamBook</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/index">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/types">Dream Types</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/keywords">Keywords</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/dreams">Dreams</a>
	      </li>
	    </ul>
	    <div sec:authorize="isAuthenticated()">
		    <form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-secondary" style="background-color: grey">Sign Out</button>
			</form>
	    </div>
	  </div>
	</nav>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#DreamForm" aria-expanded="false" aria-controls="collapseExample">
	  + Add new Dream
	</button>
	<div class="collapse" id="DreamForm">
	  <div class="card card-body">
	  	<div class="float-child form">
			<form th:object="${dream}" th:action="@{savedream}" action="#" method="post" class="was-validated">
				<div class="form-row">
					<div class="form-group col-md-3">
						<label>Date</label>
						<input class="form-control" type="date" placeholder="dd-mm-yyyy" id="dreamDate" required th:field="*{dreamDate}">
						<div class="valid-feedback">Ok</div>
    					<div class="invalid-feedback">Please choose date.</div>
					</div>
					<div class="form-group col-md-3">
						<label for="deplist">Type</label>
						<select id="deplist" class="form-control" required th:field="*{dreamType}">
							<option value="" selected="selected">Select type...</option>
							<option th:each="dreamType: ${dreamTypes}"
										th:value="${dreamType.typeId}"
											th:text="${dreamType.typeName}">
							</option>
						</select>
						<div class="valid-feedback">Valid.</div>
      					<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group col-md-4">
						<label for="deplist">Keyword</label>
						<select id="deplist" class="form-control" required th:field="*{keyword}">
							<option value="" selected="selected">Select keyword...</option>
							<option th:each="keyword: ${keywords}"
										th:value="${keyword.keyId}"
											th:text="${keyword.keyName}">
							</option>
						</select>
						<div class="valid-feedback">Valid.</div>
      					<div class="invalid-feedback">Please fill out this field.</div>
					</div>
				</div>
				<div class="form-group">
					<label for="dreamDescription">Description</label>
					<textarea class="form-control" id="dreamDescription" th:field="*{dreamDescription}" rows="4" placeholder="Please describe the dream..."></textarea>
					<div class="valid-feedback">Voluntary field.</div>
				</div>
				<input type="submit" class="btn" value="Save"></input>
			</form>
		</div>
	  </div>
	</div>
	<div class="searchbar">
		  <input class="form-control mr-sm-2" type="text" id="userInput" onkeyup="searchTable()" placeholder="Search by date...">
	</div>
	<div class="float-container">
		<div class="float-child table">
			<table class="table table-hover" id="dreamTable">
			 <thead>
			   <tr class="tableHeader">
			     <th scope="col">DATE</th>
			     <th scope="col">TYPE</th>
			     <th scope="col">KEYWORD</th>
			     <th scope="col">DESCRIPTION</th>
			     <th scope="col">ACTIONS</th>
			     <th scope="col"></th>
			   </tr>
			 </thead>
			 <tbody>
			 	<tr th:each = "dream : ${dreams}">
			     <td th:text="${#temporals.format(dream.dreamDate, 'dd-MM-yyyy')}"></td>
			     <td class="typeFormat" th:style="|${dream.dreamType.typeName == 'Nightmare' ? 'color:red;' : 'color:green;'}|" th:text="${dream.dreamType.typeName}"></td>
			     <td th:text="${dream.keyword.keyName}"></td>
			     <td th:text="${dream.dreamDescription}"></td>
			     <td>
			     	<a class="editB" th:href="@{/editdream/{dreamId}(dreamId=${dream.dreamId})}">EDIT</a>
			     </td>
			     <td>
			     	<a class="deleteB" th:href="@{/deletedream/{dreamId}(dreamId=${dream.dreamId})}">DELETE</a>
			     </td>
			   </tr>
			 </tbody>
			</table>
		</div>
	</div>
	<script>
		function searchTable() {
			// Declare variables
			var input, filter, table, tr, td, i, txtValue;
			var input = document.getElementById("userInput");
			var filter = input.value.toUpperCase();
			var table = document.getElementById("dreamTable");
			var tr = table.getElementsByTagName("tr");
			
			// Looping through all table rows, and hide those who don't match the search query
			for (var i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					 tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
</body>
</html>