<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>DreamBook</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- My own css style file -->
	<link rel="stylesheet" href="/css/index.css" type="text/css">
	
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
					crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/index">DreamBook</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/types">Dream Types</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/keywords">Keywords</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/dreams">Dreams</a>
	      </li>
	    </ul>
	    
		<!-- Show signIn and signOut buttons and role depending on current state -->
		<p class="role" th:inline="text" sec:authorize="isAuthenticated()">Signed In: <b>[[${#httpServletRequest.remoteUser}]]</b></p>
		<div class="signIn" sec:authorize="!isAuthenticated()">
			<a href="/login" type="submit" class="btn btn-secondary signIn">Sign In</a>
		</div>
		<div class="signOut" sec:authorize="isAuthenticated()">
		   	<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-secondary signOut">Sign Out</button>
			</form>
		</div>
	  </div>
	</nav>
	<div class="content">
		<h1 class="header">What Do Our Dreams Mean?</h1>
		<div class="quote">
			<h2>“The interpretation of dreams is the royal road to a knowledge of the unconscious activities of the mind.”</h2>
			<p class="name">SIGMUND FREUD</p>
		</div>
		<div class="loremIpsum">
			<br><p><b>For centuries, people have questioned the meaning of dreams.</b>
			Early civilisations thought of dreams as a medium between humans and the gods. 
			The Greeks and Romans were convinced that dreams could predict the future and content “dictionaries” for interpreting dream “symbolism” became popular during the Roman Empire.
			<p>
			<p><b>Dreams were also an extremely important aspect in Ancient Egyptian society.</b>
			They wrote dream books to papyrus with images describing what dreams meant and interpretations were frequently based on word meanings.
			Egyptians also believed in many gods so each god or goddess had their own duty.
			The Egyptian god in charge of dreams was Bes while Tutu, another god important to dreaming, was responsible for protecting the Egyptians from bad dreams.
			</p>
			<p>A century ago, <b>Sigmund Freud, C. G. Jung, and Alfred Adler</b> also became fascinated by the relationship between unconscious and conscious information and their manifestation through dreams. 
			Since each proposed his own theory of how dreams came to be and what they could tell us. 
			For example Freud believed that dreams revealed unconsciously repressed conflicts or wishes.
			According to him, dreams are the imagery of a wish or impulse that has since been repressed.
			This is why Freud studied dreams as a gateway to understanding the unconscious mind.
			</p>
			<b> 
			And even in the future there will be many different theories on dream meanings and dream interpretation.
			</b>
		</div>
		<h1 class="header tips">Establishing a Healthy Sleep Routine</h1>
		<div class="loremIpsum">
			<p class="subHeader"><b>Routines and events during the day, and especially before bedtime, have a major impact on sleep quality. They can promote healthy sleep or contribute to sleeplessness.</b>
			Getting a good night’s sleep is essential to maintaining long-term healthy eating and physical activity habits.<p>
			<p><b>A consistent sleep schedule - </b>Keep the same bedtime schedule on both weekdays and weekends to keep your circadian rhythm in check.</p>
				<ul>
				  <li>Create a bedtime routine (shower, pajamas, and brush teeth)</li>
				  <li>Avoid afternoon naps if it makes it difficult to fall asleep at bedtime.</li>
				</ul>
			<p><b>A healthy sleep environment - </b></p>
				<ul>
				  <li>Keep the noise level low and the room dark and cool</li>
				  <li>Take TVs, phones and laptops out of the bedroom</li>
				</ul>
			<p><b>An electronic curfew - </b>Technology and their blue light from screens (TV, tablet, smartphone, or laptop) disrupts the release of melatonin.</p>
				<ul>
				  <li>An electronic curfew is a time in the evening when all TVs, phones, and computers need to be turned off. This should be at least one to two hours before bedtime.</li>
				  <li>If you enjoy reading before bed, opt for printed copies of books, newspapers, and magazine rather than reading on an electronic device.</li>
				</ul>
			<p><b>Reduce caffeine and other substances - </b> Caffeine, alcohol, some medications, and a heavy meal may make it more difficult to fall asleep.</p>
				<ul>
				  <li>Caffeine is found in coffee, black, white and green tea, hot cocoa, lattes, espresso, chai, iced tea, soda, energy drinks, and chocolate.</li>
				  <li>Avoid eating large meals two to three hours before bed.</li>
				  <li>Sleep medications initially may help you fall asleep but after time your body can develop a tolerance to these medications quickly, and they lose their effect.</li>
				</ul>
			<p><b>Calming activities - </b></p>
				<ul>
				  <li>Read, listen to music, do gentle yoga or stretching, reflect on the highlights of the day, think about something positive you are going to do tomorrow.</li>
				  <li>Practice deep breathing or do progressive muscle relaxations</li>
				</ul>
		</div>
	</div>
</body>
</html>