<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>DreamBook - Types</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- My own css file -->
	<link rel="stylesheet" href="/css/types.css" type="text/css">
	
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
					crossorigin="anonymous"></script>
					
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/index">DreamBook</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/index">Home</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/types">Dream Types</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/keywords">Keywords</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/dreams">Dreams</a>
	      </li>
	    </ul>
	    <p class="role" th:inline="text" sec:authorize="isAuthenticated()">Signed In: <b>[[${#httpServletRequest.remoteUser}]]</b></p>
	    <div sec:authorize="!isAuthenticated()">
			<a href="/login" type="submit" class="btn btn-secondary signIn">Sign In</a>
		</div>
	    <div sec:authorize="isAuthenticated()">
	      	<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-secondary signOut">Sign Out</button>
			</form>
		</div>    
	  </div>
	</nav>
	<div class="content">
		<div class="welcome">
			<h1>Different Types of Dreams</h1>
		</div>
		<div class="card-deck">
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Normal Dreams</h5>
				    <p class="card-text">Common dreams about people and experiences we might have forgotten.</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Nightmares</h5>
					    <p class="card-text">Nightmares are fear-inducing dreams and they evoke fear, anxiety, or sadness in the dreamer. This dream state can be the brain’s way of processing life’s daily stress factors, unresolved anxieties or traumas.</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Daydreams</h5>
					    <p class="card-text">Daydreams occur while you are awake and they may be based on your current situation or on something that you are hoping for in the future.
					They can be positive or negative, depending on what you are thinking about. Sometimes, daydreams can give you insights into your own thoughts and feelings.</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">False-Awakening Dreams</h5>
					    <p class="card-text">During a false awakening, the sleeper believes they are awake when in reality they are still sleeping.
					False awakenings are typically realistic and setting may be identical to real life or there may be small details that are different.</p>
			    </div>
			  </div>
		</div>
		<div class="card-deck">
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Lucid Dreams</h5>
					    <p class="card-text">Lucid dreaming is when you are aware that you are dreaming. 
					This type of dream can be both exciting and empowering, as it allows you to control the dream. 
					You may find yourself doing things that would be impossible in real life. 
					Lucid dreams can also be used for problem solving or creative purposes, as you can explore different scenarios without any real-world consequences.</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Prophetic Dreams</h5>
					    <p class="card-text">Future events occur in your dream before they happen in real life.
					Prophetic dreams can be found in many different cultures and religions, and they have been a source of fascination for centuries.
					Prophetic dreams can provide valuable insights into the future, but they should not be considered infallible.</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body">
			      <h5 class="card-title">Recurring Dreams</h5>
					    <p class="card-text">Recurring dreams refer to dreams that we repeatedly experience, often with slight variations but containing similar themes.
					They may be based on something from your past that is unresolved, or they may represent a fear or anxiety that you have. 
					Recurring dreams can reflect unmet needs or areas of frustration that need attention.
					They can also offer insights into your subconscious mind telling you something about something that you haven’t realized yet.</p>
			    </div>
			  </div>
		</div>
	</div>	
</body>
</html>